---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h2>This is the home page located in the pages folder. You should have been brought here by clicking cube 2 in cubes.js</h2>
    </body>
</html>
