---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ThreeJS Examples</title>
	</head>
	<body>
		<canvas id = "canvas"class="webgl"></canvas>
		<script>
			import '../scripts/cubes.js'
		</script>
	</body>
</html>

<style>
	*{
		margin:0;
		padding:0;
	}
</style>

